<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeLeaf.org" th:replace="base::Layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <title>Signup page</title>
</head>
<body>
<section>
  <div class="container mt-3">

    <div class="row">
     <div class="col-md-6 offset-md-3">

       <div class="my-card">
<div class="container text-center">
  <img style="width:100px" src=""th:src="@{/image/add.png}">
</div>
           <! user name field>

         <h1 class="text-center"> SignUp Here !!</h1>
         <form novalidate action="" th:action="@{/do_register}" method="post" th:object="${user}">
           <! name input />
           <div class="form-group">
             <label for="name_field"> Your name</label>
             <input
                     aria-describedby="emailHelp"
                     class="form-control"
                     th:classappend="${#fields.hasErrors('name')?'is-invalid':' '}"
                     th:value="${user.name}"
                     id="name_field"
                     name="name"
                     placeholder="Enter your name"
                     required
                     type="text"/>
               <div class="invalid-feedback" th:each="e:${#fields.errors('name')}" th:text="${e}">


           </div>
             <! user email field>
           <div class="form-group">
             <label for="email_field">Email</label>
             <input
                     name="email"
                     type="email"
                     class="form-control"
                     id="email_field"
                     aria-describedby="emailHelp"
                     placeholder="Enter your email"
                     required

             />
           </div>
             <! user password field>

           <div class="form-group">
             <label for="password_field"> Password</label>
             <input
                     name="password"
                     type="password"
                     class="form-control"
                     id="password_field"
                     aria-describedby="emailHelp"
                     placeholder="Enter your password"
                     required />
           </div>
           <! user about field>

           <div class="form-group">
             <textarea name="about" placeholder="Enter something about yourself" rows="6" class="form-control"></textarea>


             <!Check box field>
            <div class="form-group form-check">
            <input type="checkbox" name="agreement" class="form-check-input" id="agreement"/>
             <label for="agreement"> Accept terms and conditions</label>

</div>
<div class="container text-center mt-2">
<button type="submit" class=" btn bg-primary text-white btn-block">
Submit
</button>
  <button type="reset" class=" btn btn-warning text-white btn-block">
    Reset
  </button>
</div>

           </div>

         </form>



       </div>

     </div>


    </div>


  </div>



</section>

</body>
</html>